.background {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	background-color: black;
	background-image: url("bkimgs/mnbg.jpg");
	background-position: bottom;
	background-size: cover;
	filter: blur(8px);
}

body {
	background-color: black;
	color: rgb(200,200,200);
	margin: 0%;
        overflow-x: hidden;
}

body .dwnld {
	margin: 0%;
	display: block;
	background-color: rgb(70,70,130);
	padding: 2%;
	overflow: hidden;
}

body .dwnld h1 {
	padding: 5%;
	padding-top: 2%;
}

body .dwnld .btn {
	max-width: 10%;
	positon: relative;
	display: block;
	margin: auto;
	overflow: shown;
}

body .dwnld .btn a {
	padding: 15px;
	background-color: rgb(100,170,200);
	transition-duration: 0.4s;
	text-decoration: none;
	color: rgb(70,70,130);
}

body .dwnld .btn a:hover {
	background-color: rgb(50,200,200);
	color: white;
}

body.dwnld .btn p {
	text-align: center;
	color: rgb(100,100,100);
}
