@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

.background {
     z-index: -1;
     position: fixed;
     min-width: 100%;
     min-height: 100%;
     background-color: rgb(50, 50, 50);
     background-image: url("bkimgs/mnbg.jpg");
     background-position: bottom;
     background-size: cover;
     background-repeat: no-repeat;
     filter: blur(10px);
     -webkit-filter: blur(10px;)
}
body {
     color: rgb(200, 200, 200);
     font-family: 'Open Sans', sans-serif;
     margin: 0px;
     background-color: black;
}

body .title {
     background-color: rgb(70,130,130);
     display:block;
     max-width: 100%;
     text-align: center;
     padding: 2%;
     margin: 0%;
}

/*left image*/
body #leftimg {
     margin-left: inherit;
     background-color: rgb(70,70,130);
     padding: 2%;
     overflow: hidden;
}

body #leftimg img {
     display: inline-block;
     float: left;
     max-width: 40%;
     max-height: auto;
     margin-left: 5%;
}

body #leftimg .text {
     display: inline-block;
     max-width: 40%;
     max-height: auto;
     float: right;
     margin-right: 5%;
}

/*right image*/
body #rightimg {
     margin-left: inherit;
     background-color: rgb(90,130,70);
     padding: 2%;
     overflow: hidden;
}

body #rightimg img {
     display: inline-block;
     float: right;
     max-width: 40%;
     max-height: auto;
     margin-left: 5%;
}

body #rightimg .text {
     display: inline-block;
     max-width: 40%;
     max-height: auto;
     float: left;
     margin-right: 5%;
}
